extends layout

block main
  h1= title
  h3 Current route: #{currentRoute}
  h3 This route was created in: #{routeCreated}
  h3 Backdrop: #{backdrop}
  p #{content}
  .routes-wrap
    a(href="javascript:history.back();") Back