extends layout

block main
  .container-fluid
    .row
      .col-1(style="padding: 0")
        include partials/sidebar.pug
      .col-11
        .row-space-between(style="margin-top: 5px")
          include partials/search-box.pug
          include partials/user-action.pug
        .customers-container
          h1.title Customers
          nav.nav-customers
            li
              a(href="#") All customers
            li
              a(href="#") Recent customers
            li
              a(href="#") Starred customers
            li
              a(href="#") My customers
          .action-customers
            .row-space-between(style="margin-top: 15px")
              .dropdown
                button.btn.btn-dropdown Actions
                .dropdown-content
                  a(href="#").mdi.mdi-pencil Edit customer
                  a(href="#").mdi.mdi-delete Delete customer
              button.btn.btn-primary New customer
            .row-space-between(style="margin-top: 15px")
              .display-mode
                span Showing 
                span 1
                span  to 
                span 10
                span  of 
                span 55
                span  items
              .records-selected
                span 10
                span  records selected
              .filter-records
                label(for="filter-records") Filter records:
                input( id="filter-records" type="text")
            .records-customers(style="margin: 15px 0")
              table
                thead
                  tr
                    th
                      .custom-checkbox
                        input.checkbox(type="checkbox" id="all" value="select-all")
                        label(for="all")
                    th Name
                    th Type
                    th Created by
                    th Created
                    th Live
                tbody
                  -for( var i = 0; i < 10; i++)
                    if i%2
                      tr
                        td(data-label="Select")
                          .custom-checkbox
                            input.checkbox(type="checkbox" id=`id-${i}` value=`id-${i}` )
                            label(for=`id-${i}`)
                        td(data-label="Name") Nguyen Thanh Loc
                        td(data-label="Type") Customer
                        td(data-label="Created by") Nguyen Thanh Loc
                        td(data-label="Created") 19/09/2019
                        td(data-label="Live")
                          span.mdi.mdi-check-circle
                    else 
                      tr
                        td(data-label="Select")
                          .custom-checkbox
                            input.checkbox(type="checkbox" id=`id-${i}` value=`id-${i}`)
                            label(for=`id-${i}`)
                        td(data-label="Name") Jane Doe
                        td(data-label="Type") Customer
                        td(data-label="Created by") Dartmouth
                        td(data-label="Created") 19/09/2019
                        td(data-label="Live")
                          span.mdi.mdi-close-box