extends layout

block main
	.messages
		each item in messages
			.flash= item
	.customers-wrapper
		h1.title Account
		nav.nav-customers
			li
				a(href="#") All account
			li
				a(href="#") Deleted account
		.row-justify(style="margin-top: 15px")
			.dropdown
				button.btn.btn-dropdown Actions
				.dropdown-content
					a(href="#").mdi.mdi-delete.delete-bg.btn-open-delete-modal Delete account
			button.btn.btn-primary.btn-open-new-modal New account
		.table-wrapper(style="margin-top: 15px")
			.row-justify
				.table-showing
					span Showing 
					span 1
					span  to 
					span 10
					span  of 
					span 55
					span  items
				.table-row-selected
					span 10
					span  records selected
				.table-filter
					label(for="table-filter") Filter records:
					input( id="table-filter" type="text")
			table.table-parent
				thead
					tr
						th
							.custom-checkbox
								input.checkbox(type="checkbox" id="all" value="select-all")
								label(for="all")
						th Username
						th Owner
						th Permission
						th Created
						th Last updated
						th Status
						th
				tbody
					-for(var i in accounts)
						tr
							td(data-label="Select")
								.custom-checkbox
									input.checkbox(type="checkbox" id= accounts[i]._id value= accounts[i]._id)
									label(for= accounts[i]._id)
							td(data-label="Username")= accounts[i].username
							td(data-label="Owner")
								a(href="/employee/" + accounts[i].owner._id)= accounts[i].owner.name
							td(data-label="Permission")
								case accounts[i].permission
									when 1
										span Normal
									when 2
										span Staff
									when 3
										span Admin
							td(data-label="Created")
								p= accounts[i].createdAt.day + "/" + accounts[i].createdAt.month + "/" + accounts[i].createdAt.year
								p= accounts[i].createdAt.hour + ":" + accounts[i].createdAt.minute + ":" + accounts[i].createdAt.second
							td(data-label="Last updated")
								p= accounts[i].updatedAt.day + "/" + accounts[i].updatedAt.month + "/" + accounts[i].updatedAt.year
								p= accounts[i].updatedAt.hour + ":" + accounts[i].updatedAt.minute + ":" + accounts[i].updatedAt.second
							td(data-label="Status")
								if accounts[i].status
									span.check
								else
									span.close
							td
								span.btn-edit-more Reset password
			.row-justify
				nav.table-pagination
					a(href="#").prev.disabled Previous
					a(href="#") 1
					a(href="#") 2
					a(href="#") 3
					a(href="#").next Next
				.table-show-more
					label Show
						select(name="display-number")
							option(value="10") 10
							option(value="20") 20
							option(value="50") 50
							option(value="100") 100
							option(value="all") All
						| entries


	//- =============== MODAL ===============
	form(method="POST").modal.new-modal
		.modal-title
			h3 New Account
			button(type="reset").mdi.mdi-close
		.modal-body
			.form-control
				label(for="username") Username
				input(type="text" id="username" name="username")
			.form-control
				label(for="password") Password
				input(type="password" id="password" name="password")
			.form-control
				label(for="permission") Permission
				select(id="permission" name="permission")
					option(value="0") Please choose...
					option(value="1") Normal
					option(value="2") Staff
					option(value="3") Admin
			.form-control
				label Owner
				.list-owners
					input(type="hidden" name="owner.name")
					select(name="owner._id")
						option(value="0") Please choose...
						-for(var i in employees)
							option(value= employees[i]._id)= employees[i].name
		.modal-footer
			button(type="submit").btn.btn-primary Save
			button(type="reset") Cancel
	form.modal.modal-warning.delete-modal
		.modal-title
			h3 Delete Account
			button(type="reset").mdi.mdi-close
		.modal-body
			p Delete the account will:
			ul
				li
					p
						strong Delete all data
						span  relating to the account
				li
					p
						strong Delete all files
						span  attached to the account
				li
					p
						strong Delete all notes
						span  attached to the account
			.tick
				.custom-checkbox
					input.checkbox(type="checkbox" id="accept-delete")
					label(for="accept-delete")
				label(for="accept-delete") I understand this action cannot be undone.
		.modal-footer
			button(type="submit").btn.btn-warning Delete account
			button(type="reset") Cancel
	form(action="/accounts/reset-password" method="POST").modal.edit-modal
		.modal-title
			h3 Reset Password
			button(type="reset").mdi.mdi-close
		.modal-body
			input(type="hidden" id="edit-id" value="" name="_id")
			.form-control
				label(for="edit-username") Username
				input(type="text" id="edit-username" value="" readonly name="username")
			.form-control
				label(for="owner") Owner
				.list-owners
					input(type="hidden" id="edit-owner-name" name="owner.name")
					select(id="edit-owner" name="owner._id")
						option(value="0") Please choose...
						-for(var i in employees)
							option(value= employees[i]._id)= employees[i].name
			.form-control
				label(for="edit-password") Password
				input(type="text" id="edit-password" name="password")
			.form-control
				label
				button.random-password.btn.btn-warning Random password
		.modal-footer
			button(type="submit").btn.btn-primary Save
			button(type="reset") Cancel