extends layout

block main
	.messages
		each item in messages
			.flash= item
	.employee-detail
		.container
			h1 Profile
			.row-flex
				if userProfile
					.avatar
						a(href= userProfile.avatar data-fancybox)
							img(src= userProfile.avatar)
					.detail
						table
							tr
								th Name
								td= userProfile.name
							tr
								th Birthday
								td= userProfile.birthday
							tr
								th Type
								td= userProfile.type
							tr
								th Pay rate
								td= userProfile.pay_rate
							tr
								th Address
								td= userProfile.address
							tr
								th Phone
								td= userProfile.phone
							tr
								th Seniority
								td= userProfile.seniority
							tr
								th Create At
								td= userProfile.createdAt
							tr
								th Status
								td
									if userProfile.status
										span.check
									else
										span.close